.blackTree {
	-fx-background-color: #000000;
}

.blackTree .tree-cell {
	-fx-padding: 6 0 0 0;
	-fx-background-color: #000000;
	-fx-text-fill: lightgrey;
}

.blackTree .tree-cell:focused {
	-fx-text-fill: white;
}

.blackTree .tree-cell .arrow {
	-fx-shape: "M 0 -4 L 7 0 L 0 4 z";
	-fx-scale-shape: false;
	-fx-background-color: red;
}

.roundedButtons {
	-fx-background-radius: 10;
	-fx-font: 1em "Arial Bold";
}

.standardNote .content {
		-fx-background-color: #ffffc9;
		-fx-border-color:#b3b3b3;
			-fx-text-fill: black;
}

.standardNote:focused {
	-fx-background-color: -fx-focus-color, transparent, #ffffc9;
}

.standardNote:hover {
		-fx-background-color: -fx-focus-color, -fx-text-box-border, #ffffc9;
}

.whiteCrown {
		-fx-background-color: white;
}

.standardDetails {
		-fx-background-color: lightgrey;
}

#close {          
    -fx-background-image: url("drawable/close.png");
    -fx-background-size: 16 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}

#setting {          
    -fx-background-image: url("drawable/setting.png");
    -fx-background-size: 16 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}

#delete {          
    -fx-background-image: url("drawable/delete.png");
    -fx-background-size: 16 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}

#save {          
    -fx-background-image: url("drawable/save.png");
    -fx-background-size: 16 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}

#new {          
    -fx-background-image: url("drawable/new.png");
    -fx-background-size: 16 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}